footer.footer
  
  //- .footer__logo-box
  //-   a(href='#')
  //-    .footer__logo-box__logo
  //-     picture.footer__logo
  //-       source(srcset='\
  //-       /img/findReunite logo Square-01.png 1x,\
  //-       /img/findReunite logo Square-01.png 2x\
  //-       ', media='(max-width: 37.5em)')
  //-       |               
  //-       img(srcset='\
  //-       /img/findReunite logo Square-01.png 1x,\
  //-       /img/findReunite logo Square-01.png 2x\
  //-       ', alt='Full logo', src='/img/findReunite logo Square-01.png')
  |         
  .row
    .col-1
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link(href='/') Home
          |                 
          li.footer__item
            a.footer__link(href='#') Contact us
          |                 
          li.footer__item
            a.footer__link(href='/acknowledge') Acknowledge
          |                 
          li.footer__item
            a.footer__link(href='/privacy-policy') Privacy policy
          |                 
          li.footer__item
            a.footer__link(href='/terms') Terms
    |           
    //- .col-2
      p.footer__copyright
        | Designed and Developed with Passion by
        a.footer__link(href='/about-group') Group #22
        |  (CS, Session
        |               2020-24) as their Final Year Project at
        |               
        a.footer__link(target='_blank', href='https://must.edu.pk/') MUST
        |               under the guidance of
        |               
        a.footer__link(target='_blank', href='https://scholar.google.com/citations?user=CXuIRXQAAAAJ&hl=en')
          | Dr. Yesser Arafat,
        |               Assistant Professor.
        br
        |               &copy; Team 
        a.footer__link(href='#') findReunite
        | . All
        |               Rights Reserved.
