doctype html
html
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      //- meta(http-equiv="Content-Security-Policy" content="script-src 'self' 'cdnjs.cloudflare.com';")

      script(src='https://unpkg.com/@phosphor-icons/web')

      title Question Bank | #{title}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      //- <!--=============== REMIXICONS ===============-->
      link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css",
        rel="stylesheet")
    
      if page !== 'login'
        link(rel="stylesheet", href="/css/base.css")
        link(rel="stylesheet", href="/css/account.css")
      link(rel="stylesheet", href="/css/alert.css")
      //- link(rel="stylesheet", href="/css/loader.css")
      //- link(rel="shortcut icon" href="/img/findReunite Icon Black.png" type="image/x-icon")

  body
    //- .loader
      //- h1 loading....
    #content
      // HEADER
      //- For CSS classes we're using BEM Notation.
      if page !== 'login'
        include _header

      // MAIN CONTENT
      block content
        h1 This is a placeholder heading
      
      // FOOTER
      if page !== 'login'
        include _footer

    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js")
    //- script(src="/js/login.js")
    script(src="/js/bundle.js")