.user-view__form-container {
  display: none;
}

.user-view__form-container.active {
  display: block;
}

.side-nav a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.side-nav a i {
  font-size: 1.8rem;
}

.persons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.person-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: stretch;
  gap: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 1.4rem;
  border-radius: 6px;
  overflow: hidden;
}

.person-card > *:not(img) {
  padding-inline: 1.2rem;
}

.person-card__name {
  font-size: 2.2rem;
  color: #555;
  font-weight: 400;
  text-transform: uppercase;
}

.person-card__location {
  font-size: 1.6rem;
  color: #555;
  font-weight: 400;
  text-transform: capitalize;
}

.person-card__description {
  color: #555;
  font-size: 1.6rem;
  font-weight: 400;
}

.person-card__btn-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.person-card__btn:link,
.person-card__btn:visited {
  color: #20bf6b;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.person-card__btn:hover,
.person-card__btn:active {
  text-decoration: underline;
}

.person-card__btn:nth-of-type(2) {
  color: #eb4d4b;
}

.person-card__btn-detail:link,
.person-card__btn-detail:visited {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  background-color: #20bf6b;
  border-radius: 10rem;
  padding: 0.6rem 3rem;
  align-self: flex-start;
  margin-left: 1.2rem;
  transition: all 0.3s linear;
}

.person-card__btn-detail:hover,
.person-card__btn-detail:active {
  background-color: #1dcb6e;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/* !------------------------! */
/* FOR ALL USER PAGE */
/* !------------------------! */

.user-view__form-container {
  /* display: none; */
}

/* .user-view__form-container.active {
  display: block;
} */

.side-nav a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.side-nav a i {
  font-size: 1.8rem;
}

.users-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.user-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-bottom: 1.4rem;
  border-radius: 6px;
  overflow: hidden;
}

.user-card > *:not(img) {
  padding-inline: 1.2rem;
}

.user-card__name {
  font-size: 1.6rem;
  color: #555;
  font-weight: 400;
  text-transform: uppercase;
}

.user-card__location {
  font-size: 1.2rem;
  color: #555;
  font-weight: 400;
  text-transform: capitalize;
}

.user-card__description {
  color: #555;
  font-size: 1.6rem;
  font-weight: 400;
}

#courses {
  padding: 0 2rem;
}

.user-card__btn-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.4rem;
}

.user-card__btn i {
  font-size: 1.3rem;
}

.user-card__btn:link,
.user-card__btn:visited {
  color: #20bf6b;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.user-card__btn:nth-of-type(2) {
  color: #eb4d4b;
}
.user-card__btn:hover,
.user-card__btn:active {
  text-decoration: underline;
}

.user-card__btn-detail:link,
.user-card__btn-detail:visited {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  background-color: #20bf6b;
  border-radius: 10rem;
  padding: 0.6rem 3rem;
  align-self: flex-start;
  margin-left: 1.2rem;
  transition: all 0.3s linear;
}

.user-card__btn-detail:hover,
.user-card__btn-detail:active {
  background-color: #1dcb6e;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.user-course-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* h1 {
  color: #113492;
  margin-bottom: 2rem;
  font-size: 2.4rem;
} */

.course-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.course-table th,
.course-table td {
  border: 0.1rem solid #ddd;
  padding: 1rem;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
}

.course-table th {
  background-color: #113492;
  color: white;
}

.course-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn {
  background-color: #113492;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.4rem;
  margin-right: 0.5rem;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #0d2d70;
}

.btn-delete {
  background-color: #e74c3c;
}

.btn-delete:hover {
  background-color: #c0392b;
}

.no-data-msg {
  font-size: 1.6rem;
  color: #e74c3c;
  font-weight: 400;
}

.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  max-width: 70rem;
  margin: 4rem auto;
}

h2 {
  color: #113492;
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #113492;
  font-size: 1.6rem;
}

.form-input {
  width: 100%;
  padding: 0.8rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

.btn {
  background-color: #113492;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.btn:hover {
  background-color: #0d2d70;
}

#assessments {
  padding: 0;
}

.assessments-form-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.assessments-heading {
  color: #113492;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  text-align: center;
}

.assessments-row {
  display: flex;
  align-items: end;
  /* justify-content: flex-end; */
  margin-bottom: 2rem;
}

.assessments-input-group {
  margin-right: 1rem;
  flex: 1;
}

.assessments-input-group label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.assessments-input-group select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.6rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  transition: border 0.3s;
}

.assessments-input-group select:focus {
  border: 0.1rem solid #113492;
  outline: none;
}

.assessments-btn {
  background-color: #113492;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.6rem;
  transition: background-color 0.3s;
}

.assessments-btn:hover {
  background-color: #0d2d70;
}

#assessmentContainer {
  margin-top: 2rem;
}

.assessments-table {
  width: 100%;
  border-collapse: collapse;
}

.assessments-table th,
.assessments-table td {
  border: 0.1rem solid #ddd;
  padding: 1rem;
  text-align: left;
  font-size: 1.6rem;
}

.assessments-table th {
  background-color: #113492;
  color: white;
}

.assessments-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.no-assessments-message {
  display: none;
  color: #333;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
}

.view-btn,
.download-btn {
  background-color: #113492; /* Primary color */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
  transition: all 0.3s;
}

.download-btn {
  background-color: #1dcb6e;
}

.view-btn:hover {
  background-color: #0d286d;
}

.download-btn:hover {
  background-color: #1aa36f;
}
